# 页面标题
VITE_APP_TITLE = SpaceMV-CoAI-Wp/Wc

# 开发环境配置
VITE_APP_ENV = 'development'

# SpaceMV-CoAI-Wp/Wc 开发环境
VITE_APP_BASE_API = '/dev-api'
VITE_PC_WEB_URL = 'https://pc-dev.example.com'
VITE_MOBILE_WEB_URL = 'https://mobile-dev.example.com'
VITE_DOCS_URL = 'https://docs-dev.example.com'
VITE_WENDAO_SITE_BASE_URL = 'https://wendao-dev.example.com'
VITE_MAP_SHARE_BASE_URL = 'https://map-share-dev.example.com'
VITE_CHART_STUDIO_URL = 'https://charts-dev.example.com'
VITE_STATIC_ASSET_BASE_URL = 'https://static-dev.example.com'
